div{
    margin:auto;
    margin-top: 20px;
}
input{
    width: 100%;
}
.container-item{
    text-align: left;
}
button{
    min-width: 80px;
    /* width: 100%; */
}
.row-margin{
    margin: 15px ;
}
.col-2{
    text-align: center;
}